

input {background: #e8e8e8 url(../images/backgrounds.png) top repeat-x;padding: 5px 5px 4px 5px;border: solid #CAC9C9 1px;border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;color: #000;}

input:hover {background: #e8e8e8 url(../images/backgrounds.png) repeat-x;background-position: 0px -40px;color: #0270bc;}


#cpanel { 
	text-align: center; 
	vertical-align: middle;
	height: 1%;
	overflow: hidden;
}

#cpanel div.icon   { 
	margin: 3px; 
}
#cpanel div.icon a { 
	display: block; 
	height: 93px !important;
	height: 95px; 
	width: 108px !important;
	width: 110px; 
	vertical-align: middle; 
	text-decoration : none;
	border: 1px solid #DDD;
	padding: 2px 5px 1px 5px;
}

#cpanel div.icon a:link    { 
	color : #808080; 
}
#cpanel div.icon a:hover   { 
	color : #333; 
	background-color: #f1e8e6;  
	border: 1px solid #c24733;
	padding: 3px 4px 0px 6px; 
}
#cpanel div.icon a:active  { 
	color : #808080; 
}
#cpanel div.icon a:visited { 
	color : #808080; 
}

#cpanel div.iconimage { 
	padding-top: 13px; 
} 
.adminListHeader {
	height: 48px; background-repeat: no-repeat;
	text-align: left; font-size: 18px; font-weight: bold;
	padding-left: 80px;	
}
.editable {
	background: #ffff33;
	cursor: pointer;
}

.align-center{
	text-align: center;
}

.element-hidden{
	display: none;
}

/*Avoid content collapse*/
.vm-block{
	overflow: hidden;
}


.vm-main-container{
	position: relative;
}

.vm-layout-left{
	float: left;
	width: 200px;
}

.vm-layout-right{

	width: auto;
}

.vm-replace-content{
	text-indent: -9999px;
	font-size: 0;
}

#vm-close-menu{
	position: absolute;
	background: url(../images/show.gif) no-repeat;
	width: 7px;
	height: 25px;
	top: 40px;
	left: 0;
	outline: 0;
}

#vm-close-menu.vm-close-menu-show{
	background: url(../images/hide.gif) no-repeat;
}

.vm-absolute{
	position: absolute;
}
.detachselectimage , #addnewselectimage {    
    background-repeat: no-repeat;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    display: inline;
    line-height: 16px;
    margin: 5px;
    padding: 5px 5px 5px 16px;
}


div.threecols ul li {
    background: none repeat scroll 0 0 transparent;
    display: inline-block;
    min-height: 10px;
    padding: 0;
    vertical-align: top;
       width: 32%;
}

div.threecols ul   {
   margin:0;
   padding:0;
}
