/*////////////////////////////////////
/////// VirtueMart Admin Area ////////
////////////////////////////////////*/

.virtuemart-admin-area {border: solid #b4b4b4 1px;-moz-border-radius-bottomleft: 6px;-moz-border-radius-bottomright: 6px;-webkit-border-bottom-left-radius: 6px;-webkit-border-bottom-right-radius: 6px;overflow: hidden;    background: none repeat scroll 0 0 #eee ;}

* html .virtuemart-admin-area { /*IE6 only*/overflow: visible;height: 1px;}
.virtuemart-admin-area .menu-wrapper {width:200px ;float: left;background: none repeat scroll 0 0 #eee;}
.virtuemart-admin-area #admin-content-wrapper {margin-left: auto;background: #999}
/*.virtuemart-admin-area .menu-wrapper, .virtuemart-admin-area #admin-content-wrapper {padding-bottom: 16000px;margin-bottom: -16000px;}*/
.virtuemart-admin-area #admin-content-wrapper .admin-content {margin: 0;overflow: auto; padding: 0;background: #fff;border-left: solid #b4b4b4 1px;}

/*////////////////////////////////////
/ Overwriting Joomla Admin Template //
////////////////////////////////////*/

/* Toolbar */
#element-box .t, #element-box .b {display: none;}
#content-box #element-box .m, #content-box .m {border: none;padding: 0px;background: none;}
#content-box #toolbar-box {border-top: solid #b4b4b4 1px;border-left: solid #b4b4b4 1px;border-right: solid #b4b4b4 1px;margin: 0px;-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
-webkit-border-top-left-radius:6px;
-webkit-border-top-right-radius: 6px;background: #fff url(../images/admin_ui/toolbar_background.png) bottom repeat-x;}
#content-box #toolbar-box .m {border: solid #fff 1px;padding: 7px 10px 4px 10px;-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
-webkit-border-top-left-radius:6px;
-webkit-border-top-right-radius: 6px;text-shadow: 0px -1px 1px #fff;}
#content-box #toolbar-box a.toolbar {border: none;}
#content-box #toolbar-box .m .header {color: #444444;font-weight: normal;padding: 0px 0px 0px 60px;margin: 3px 0px 0px 0px;background-position: left center;
    background-repeat: no-repeat;}
#content-box #toolbar-box .t, #content-box #toolbar-box .b {display: none;}
.bartext { display: block;font-size: 12px;font-weight: bold;line-height: 32px;vertical-align: inherit;white-space: nowrap;width: auto !important;}
/* System Messages */
dl#system-message {margin: 0px;padding: 4px 10px;background: #4592ba url(../images/admin_ui/saved_background.png) top repeat-x;border: solid #387dad 1px;}
dl#system-message dd {text-indent: 0px;}
dl#system-message dd.message {}
dl#system-message dd.message ul {margin: 0px;color: #fff;text-shadow: 0px -1px 1px #12517d;font-weight: normal;font-size: 12px;padding: 0px;background: none;border: none;}
dl#system-message dd.message ul li {background: url(../images/admin_ui/saved_icon_background.png) top left no-repeat;display: block;padding: 8px 10px 6px 40px;letter-spacing: 1px;}

/* Fieldset */
.virtuemart-admin-area fieldset {border-radius: 6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;padding: 10px 20px;}
.virtuemart-admin-area fieldset legend {padding: 0px 10px;}

/* Radio Box */
.virtuemart-admin-area fieldset input {float: none;clear: none;display: inline-block;}
.virtuemart-admin-area fieldset label, .virtuemart-admin-area fieldset.adminform label, .virtuemart-admin-area fieldset.adminform span.faux-label {float: none;clear: none;display: inline-block;min-width: 0px;}

/*////////////////////////////////////
/////////////// Tabs /////////////////
////////////////////////////////////*/

/* The Navigation Area */
#admin-ui-tabs ul#tabs {list-style-type:none;overflow:auto;margin: 0px;padding: 0px ;background: #7c7d7f url(../images/admin_ui/tabs-ul-background.png) bottom repeat-x;}
#admin-ui-tabs ul#tabs li {vertical-align: top;color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
	vertical-align: middle;
    font-size: 12px;
    height: 32px;
    letter-spacing: 1px;
    padding: 5px 0 0 0;
    text-align: center;
    text-shadow: 0 -1px 1px #000000;}
#admin-ui-tabs ul#tabs li span{    line-height: 12px;
    padding-top: 0px;
    position: relative;
    vertical-align: middle;}
#admin-ui-tabs ul#tabs li.current {background: #fff url(../images/admin_ui/tabs-li-background.png) top repeat-x;color: #444444;text-shadow: 0px -1px 1px #fff;-moz-border-radius-topleft: 6px;-moz-border-radius-topright: 6px;-webkit-border-top-left-radius: 6px;-webkit-border-top-right-radius: 6px;-moz-box-shadow: 0px -1px 2px #3f3f40;cursor: default;}

/* The Content Area */
#admin-ui-tabs .tabs {padding: 20px 20px 200px 20px;overflow:auto;}

/* do not change the line below !!! */
#admin-ui-tabs .dyn-tabs {overflow:auto;display:none;}

/*////////////////////////////////////
////////////// Table /////////////////
////////////////////////////////////*/
form {overflow: auto;}
table.admin-table {table-layout: auto;border-collapse: collapse;width: 100%;overflow: auto;}
table.admin-table th {background: #7c7d7f url(../images/admin_ui/admin_table_th_header_background.png) bottom repeat-x;padding: 20px 5px 5px 5px;color: #fff;font-size: 12px;text-shadow: 0px -1px 1px #000;letter-spacing: 0px;font-weight: normal;vertical-align: top;}
table.admin-table th a {color: #fff;font-size: 13px;text-shadow: 0px -1px 1px #000;cursor:pointer;letter-spacing: 1px;font-weight: normal;}
table.admin-table tr td {padding: 6px 5px 6px 5px;letter-spacing: 0px;cursor: pointer;font-size: 11px;}
table.admin-table tr.row0:hover, table.admin-table tr.row1:hover {background: #8297ba url(../images/admin_ui/admin_table_tr_hover_background.png) top repeat-x;color: #fff;}
table.admin-table tr.row0:hover a, table.admin-table tr.row1:hover a {color: #fff;text-shadow: 0px -1px 1px #5a74a6;}
table.admin-table tr.row1 {background: #f7f7f7;text-shadow: 0px -1px 1px #fff;}

/*////////////////////////////////////
//////////// Admin Menu //////////////
////////////////////////////////////*/
#admin-ui-menu {border-bottom:1px solid #999;}
#admin-ui-menu h3.menu-title {background: #aaa bottom repeat-x;cursor:pointer;border-top: 1px solid #999;margin: 0px;padding: 6px 20px;color: #fff;font-size: 13px;font-weight: normal;color: #333;text-shadow: 0px -1px 1px #fff;}
.menu-vmtitle {
    background: url("../images/vm2Shop4.png") no-repeat scroll 40px bottom #999999;
    border-top: 1px solid #444444;
    color: #333333;
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
    height: 19px;
    margin: 0;
    padding: 6px 5px 11px 109px;
    text-shadow: 0 -1px 1px #FFFFFF;
}

#admin-ui-menu h3.current {background: #aaa bottom repeat-x;border-top: 1px solid #CCC;text-shadow: 0px -1px 1px #5a74a6;color: #fff;}

#admin-ui-menu .menu-list {}
#admin-ui-menu .menu-list ul {margin: 0px;padding: 4px 10px;background:none repeat scroll 0 0 #CCCCCC;border-bottom: 1px solid #888888;}
#admin-ui-menu .menu-list ul li {list-style: none;}
#admin-ui-menu .menu-list ul li a {color: #000000;display: block;font-size: 12px;margin: 12px 0;padding: 0 15px 0 4px;text-decoration: none;text-shadow: 0 -1px 1px #fff;}

/*////////////////////////////////////
////////// Update Notices ////////////
////////////////////////////////////*/

.update-notice {background: #59c418 url(../images/admin_ui/update_notice_background.png) top repeat-x;font-size: 13px;border-bottom: solid #66676b 1px;}
.update-notice a:link, .update-notice a:visited {display: block;padding: 9px 20px;color: #fff;text-shadow: 0px -1px 1px #307606;letter-spacing: 1px;text-decoration: none;}
.update-notice a:link span, .update-notice a:visited span {background: url(../images/admin_ui/icon_info.png) left top no-repeat;padding: 0px 0px 0px 32px;}

/*////////////////////////////////////
////////////// Basics ////////////////
////////////////////////////////////*/

.clear {clear: both;}
.floatleft {float: left;}
.floatright{float: right;}
.center{text-align: center}
.right {text-align: right;}

/*////////////////////////////////////
///////////// All Width`s ////////////
////////////////////////////////////*/
.width1{width:1%}.width2{width:2%}.width3{width:3%}.width4{width:4%}.width5{width:5%}.width6{width:6%}.width7{width:7%}.width8{width:8%}.width9{width:9%}.width10{width:10%}.width11{width:11%}.width12{width:12%}.width13{width:13%}.width14{width:14%}.width15{width:15%}.width16{width:16%}.width17{width:17%}.width18{width:18%}.width19{width:19%}.width20{width:20%}.width21{width:21%}.width22{width:22%}.width23{width:23%}.width24{width:24%}.width25{width:25%}.width26{width:26%}.width27{width:27%}.width28{width:28%}.width29{width:29%}.width30{width:30%}.width31{width:31%}.width32{width:32%}.width33{width:33%}.width34{width:34%}.width35{width:35%}.width36{width:36%}.width37{width:37%}.width38{width:38%}.width39{width:39%}.width40{width:40%}.width41{width:41%}.width42{width:42%}.width43{width:43%}.width44{width:44%}.width45{width:45%}.width46{width:46%}.width47{width:47%}.width48{width:48%}.width49{width:49%}.width50{width:50%}.width51{width:51%}.width52{width:52%}.width53{width:53%}.width54{width:54%}.width55{width:55%}.width56{width:56%}.width57{width:57%}.width58{width:58%}.width59{width:59%}.width60{width:60%}.width61{width:61%}.width62{width:62%}.width63{width:63%}.width64{width:64%}.width65{width:65%}.width66{width:66%}.width67{width:67%}.width68{width:68%}.width69{width:69%}.width70{width:70%}.width71{width:71%}.width72{width:72%}.width73{width:73%}.width74{width:74%}.width75{width:75%}.width76{width:76%}.width77{width:77%}.width78{width:78%}.width79{width:79%}.width80{width:80%}.width81{width:81%}.width82{width:82%}.width83{width:83%}.width84{width:84%}.width85{width:85%}.width86{width:86%}.width87{width:87%}.width88{width:88%}.width89{width:89%}.width90{width:90%}.width91{width:91%}.width92{width:92%}.width93{width:93%}.width94{width:94%}.width95{width:95%}.width96{width:96%}.width97{width:97%}.width98{width:98%}.width99{width:99%}.width100{width:100%}