/* 16x16 images */

/* 32x32 images */
.icon-32-vm_new_32 { 
   background: url(../images/icon_32/vm_new_32.png); 
}

/* 48x48 images */
.icon-48-virtuemart_48 { 
   background: url(../images/icon_48/vm_logo_48.png); 
}
.icon-48-vm_config_48 { 
   background: url(../images/icon_48/vm_config_48.png); 
}
.icon-48-vm_user_48 { 
   background: url(../images/icon_48/vm_user_48.png); 
}
.icon-48-vm_usergroup_48 { 
   background: url(../images/icon_48/vm_shoppers_48.png); 
}
.icon-48-vm_module_48 { 
   background: url(../images/icon_48/vm_modules_48.png); 
}
.icon-48-vm_store_48 { 
   background: url(../images/icon_48/vm_store_48.png); 
}
.icon-48-vm_paymentmethod_48 { 
   background: url(../images/icon_48/vm_payment_48.png); 
}
.icon-48-vm_creditcard_48 { 
   background: url(../images/icon_48/vm_credit_48.png); 
}
.icon-48-vm_product_48 { 
   background: url(../images/icon_48/vm_product_48.png); 
}
.icon-48-vm_category_48 { 
   background: url(../images/icon_48/vm_categories_48.png); 
}
.icon-48-vm_product_types_48 { 
   background: url(../images/icon_48/vm_categories_48.png); 
}
.icon-48-vm_custom_48 { 
   background: url(../images/icon_48/vm_categories_48.png);
}
.icon-48-vm_calc_48 { 
   background: url(../images/icon_48/vm_countries_48.png); 
}
.icon-48-vm_country_48 { 
   background: url(../images/icon_48/vm_countries_48.png); 
}
.icon-48-vm_currency_48 { 
   background: url(../images/icon_48/vm_currency_48.png); 
}
.icon-48-vm_orders_48 { 
   background: url(../images/icon_48/vm_orders_48.png); 
}
.icon-48-vm_vendor_48 { 
   background: url(../images/icon_48/vm_shop_vendors_48.png); 
}
.icon-48-vm_tax_48 { 
   background: url(../images/icon_48/vm_tax_48.png); 
}
.icon-48-vm_shippingcarrier_48 { 
   background: url(../images/icon_48/vm_ups_48.png); 
}
.icon-48-vm_shipping_rate_48 { 
   background: url(../images/icon_48/vm_shipping_rates_48.gif); 
}
.icon-48-vm_inventory_48 { 
   background: url(../images/icon_48/vm_inventory_48.gif); 
}
.icon-48-vm_shoppergroup_48 { 
   background: url(../images/icon_48/vm_shop_users_48.png); 
}
.icon-48-vm_manufacturer_48 { 
   background: url(../images/icon_48/vm_manufacturer_48.png); 
}
.icon-48-vm_manufacturercategories_48 { 
   background: url(../images/icon_48/vm_manufacturer_48.png); 
}
.icon-48-vm_media_48 { 
   background: url(../images/icon_48/vm_product_files_48.png); 
}
.icon-48-vm_coupon_48 { 
   background: url(../images/icon_48/vm_coupon_48.png); 
}
.icon-48-vm_ratings_48 { 
   background: url(../images/icon_48/vm_reviews_48.png); 
}
.icon-48-vm_orderstatus_48 { 
   background: url(../images/icon_48/vm_orderstatus_48.png); 
}
.icon-48-vm_report_48 { 
   background: url(../images/icon_48/vm_report_48.png); 
}